.title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.boton{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}